
#Photo {
	border:5px solid #000000;
	max-width: 250px;
	max-height: auto;
}

header {
	background-color: #808080;
	padding-top: 5px;
	height: 200px;
	text-align:center;
	border: 5px solid #000000;
}

header, h1 {
	font-size: 150%;
}
#Sidebar {
	float:right;
	border: 3px solid #808080;
	width: 300px;
	height: 500px;
	text-align: center;
	padding-top: 20px;
	margin-right: 50px;
	margin-top:50px;
}
a{
	text-decoration: none;
}
.Main {
	float:left;
	margin-left: 50px;
	margin-top: 50px;
}

.Main, h1 {
	font-size: 125%;
}

.Classwork {
	padding-top: 75px;
}
