h1 {
	font-family:'Oswald', sans-serif;
}

h2 {
	font-family: 'Dancing Script', cursive;
	font-size:150%;
	color: #4B1048;
	text-align: center;
}

header .profile {
	width: 100%;
	height: 50%;
	z-index: 0;
}

header {
	background-color: #808080;
	padding-top: 5px;
}
nav {
	float: right;
}
nav a {
	position:relative;
	margin: 10px;
	color: #000000;
}

.sidebar {
	float: right;
	display: block;
	border: black solid 2px;
}

.button1 {
	position:relative;
}
	
