.jumbotron {
	text-align: center;
	float:left;
	background-image: url("images/.jpg");
	background-repeat: no-repeat;
}
h3 {
	display:inline;
}
.col-md-6 {
	text-align: center;
}

.sidebar {
	float:right;
	clear:both;
	padding-right: 
}
