#Title {
	font-family:'Tauri', sans-serif;
	text-decoration:none;
	color: #FF0000;
	font-size:250%;
}

#Subtitle {
	font-style:;
	text-decoration:none;
	color: #808080;
	font-size:125%;
	margin-left: 10px;
}

header {
	padding-bottom: 25px;
}

h2, h4 {
	color: #808080;
}

h3 {
	color: #8D8888;
	font-family: Arial;
}

#container {
	width: 100%;
	height: 50px;
	background-color: #000000;
}
#nav_links {
	list-style:none;
	font-weight: bold;
}

#nav_links li{
	float: left;
	width:16.5%;
	margin-top: 15px;
	text-align: center;	
	border-left: 1px solid #FFFFFF;
}

#nav_links a {
	color:#FFFFFF;
	text-decoration: none;
	display:inline;
}
ul#nav_links li a:hover {
	font-size: 125%
}

.Date {
	color: #CACBCC;
	font-family:'Poiret One', cursive;
	font-size: 25px; 
}

.Headline {
	color:#808080;
}

.First_Image {
	width: 670px;
}

.sidebar{
	float: right;
	max-width: 30%;
	margin-right:3.5%; 
}

#Top h3 {
	text-align: center;
	padding-top: 15%;
}

.advertisement {
	width:100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

#Bottom li{
	padding-bottom: 10px;
	color:#FF0000;
}
section {
	float:left;
	max-width:55%;
	margin-left: 3.5%;
}
#Section1 p::first-letter{
	font-size:500%;
	float:left;
	line-height: 45px;
	padding-right: 3px;
	padding-top:3px;
}
#Section2 p::first-letter{
	font-size:500%;
	float:left;
	line-height: 45px;
	padding-right: 3px;
	padding-top:3px;
}
footer {
	text-decoration: none;
	clear: both;
	padding-top: 5%;
	text-align: center;
}
footer a {
	color: #FF0000;
}
.red_link {
	float:right;
	color:#FF0000;
	font-weight: bold;
	text-decoration:none;
}
article {
	border-bottom: 1px solid #D4D8D9;
}
#Section2 {
	padding-bottom: 20px;
}

