#selected-plays {
	background-color:#808080;
}

.large-title {
	padding-bottom: 20px;
	font-size:2em;
}
.clear-after > li li {
	color: #FF0000;
}
tr:first-of-type {
	background-color: #808080;
}
tr:nth-child(odd) {
	background-color: #808080;
}
td:last-of-type {
	background-color: #808080;
}
a[href="/asyoulikeit/"] {
	color:#FF9900;
}
a[href="hamlet.pdf"] {
	font-size: 150%;
}
